@media (max-width:991px) {
    .navbar .navbar-brand img {margin: -68px -33px;}
    .collapse:not(.show) {display: flex;flex-direction: row;}
    .navbar .navbar-nav{display: flex; flex-direction: row;margin-top: -50px;}
    .navbar .navbar-nav svg{font-size: 20px;}
    .navbar .person{margin-top: -60px;}
    .navbar .imgBox {width: 50px;height: 50px;}
    .clientContent nav .parent {font-size: 16px !important;}
    .purchases .listBtn .btn,
    .purchaseOrder .listBtn .btn,
    .managePurchase .listBtn .btn,
    .costsStores .listBtn .btn{margin:3px 0;}

    .salesPoints,.salesReports{overflow-x: scroll;}
    .salesPoints table th,.salesPoints table td,
    .salesReports table {font-size: 12px;}
}


@media (max-width:767px) {
    .navbar .navbar-brand svg{
        /* display: none; */
        margin: 24px 17px;
        right: 0;
        font-size: 20px;
    }
    .navbar .navbar-nav{display:none}
    .navbar .person{width:100%;justify-content: end;}

    .sidebar{width: 58px;padding: 10px !important;}

    .sidebar ul li .link span{display: none;}
    .sidebar .dropdown-toggle::after{display: none;}

    .clients .new-client,.clients .exit{margin-top:15px}

    .clients table thead{display: none;}
    .clients td,.clients table th{padding: 12px 15px;}
    .clients table, .clients table tbody, .clients table tr, .clients table td{
        display: block;
        width: 100%;
    }
    .clients table tr{margin-bottom: 15px;}
    .clients table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .client-content nav .parent div{font-size: 16px;}

    .salesPointsContent .invoice p{margin-top: 10px;}
    .salesPointsContent .invoice p ~ div{
        text-align: start !important;
        padding: 9px 18px !important;
    }
    .salesPointsContent table{margin-top: 20px;font-size: 12px;}
}


@media (max-width:500px) {
    .client-content nav .parent div{font-size: 13px;}
}


@media (max-width:450px) {
    .navbar .person{margin-top: -66px;}
    .navbar .person p{display: none;}
    .navbar .imgBox {width: 40px;height: 40px;}

    .clients .btn-search{display: block !important;}
    .clients .btn-search input{width: 100%;margin-bottom: 15px;}
}


@media (max-width:400px) {
    .storesContent .header1 {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
        
    .storesContent .header1 .div1 { grid-area: 1 / 2 / 2 / 3;}
    .storesContent .header1 .div2 { grid-area: 2 / 2 / 3 / 3; }
    .storesContent .header1 .div3 { grid-area: 3 / 2 / 4 / 3; }
    .storesContent .header .btn {margin-top: 5px;}

    .storesContent .header2 {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
        
    .storesContent .header2 .div1 { grid-area: 1 / 1 / 2 / 2; }
    .storesContent .header2 .div2 { grid-area: 1 / 2 / 2 / 3; }
    .storesContent .header2 .div3 { grid-area: 2 / 1 / 3 / 2; }
    .storesContent .header2 .div4 { grid-area: 2 / 2 / 3 / 3; }
}


@media (max-width:280px) {
    .main-content .btns button {
        margin-left: 5px;
        padding: 4px 16px;
    }
    .main-content .box .try, .main-content .box .pay{flex-direction: column;font-size: 14px;}
    .main-content .box .color-div{
        width: 35px;
        height: 12px;
        margin-bottom: 7px;
        border-radius: 5px;
    }

    .main-title .btns{
        justify-content: flex-start !important;
    }
    .main-content .main-data .subscription h4 {font-size: 14px;}
    .main-content .main-data .box .details {font-size: 12px;}

    .clientContent nav .parent {font-size: 12px !important;}
}