
/*===================== media ==================*/
@media (min-width:991px) {
    .navbar .dropdown-menu {margin: 0 0 0 -67px;}
}
@media (max-width:991px) {
    .navbar .navbar-brand{padding-top: 0;}
    .services .card{margin-bottom: 20px;}
    .about-company {padding-top: 0;}
    .about-company .imgBox{display:none}
    .blogs .imgBox{display:none}
}
@media (max-width:600px){

    .slider{height: 350px !important;}
    .slider .carousel {height: 100% !important;}
    .slider .carousel-inner{height: 100% !important;}
    .slider .carousel-item{height: 100% !important;}
    .slider .carousel-item img{height: 100% !important;}

    .services{margin-top: 20px;}
    .company-clients .content .slid .imgBox {width: 80px;height: 100px;}
    .company-clients .content .slid .next-arrow {right: 40%;bottom: -27px;}
    .company-clients .content .slid .prev-arrow {left: 40%;bottom: -27px;}

    .statistics{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .statistics .div1 { grid-area: 1 / 1 / 2 / 3; }
    .statistics .div2 { grid-area: 1 / 3 / 2 / 4; }
    .statistics .div3 { grid-area: 1 / 4 / 2 / 6; }
    .statistics .div4 { grid-area: 2 / 2 / 3 / 3; }
    .statistics .div5 { grid-area: 2 / 4 / 3 / 5; }

    .working-steps .title{padding-bottom: 25px 0 40px !important;}
    .working-steps .box{padding-bottom: 5px !important;}

    .contact h2{font-size: 30px;}
    .contact p {width: 100%;}
    
    .our-services {padding-bottom: 0;}
    .blogs{padding-top: 30px;}
    .blogs .blog {margin-left: 0;}
    .footer .rights {justify-content: flex-start;}
}
@media (max-width:400px){
    .about-company .about p{width: 100%;}
    .about-company h1{font-size: 20px;}
    .about-company p{font-size: 14px;line-height: 1.6 !important;}
}

@media (max-width:280px) {
    .navbar .navbar-collapse {margin-top: 7px}
    .navbar .navbar-brand img {width: 100px;}
    .navbar .navbar-brand {padding-top: 15px;}
    .company-clients .content .slid .imgBox {width: 60px;height: 60px;}
    .company-clients .content .slid h2 {font-size: 16px}
    .company-clients .content .slid .next-arrow {right: 35%;bottom: -27px;}
    .company-clients .content .slid .prev-arrow {left: 35%;bottom: -27px;}

    .statistics{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .statistics .div1 { grid-area: 1 / 1 / 2 / 3; }
    .statistics .div2 { grid-area: 2 / 2 / 3 / 5; }
    .statistics .div3 { grid-area: 1 / 4 / 2 / 6; }
    .statistics .div4 { grid-area: 3 / 1 / 4 / 3; }
    .statistics .div5 { grid-area: 3 / 4 / 4 / 6; }

    .working-steps .title h2 {font-size: 30px;}
    .contact {padding: 30px 20px;}
    .contact h2{font-size: 22px;}
    .contact p{font-size: 20px !important;}
    .our-services .title h2 {font-size: 30px;}
    .blogs{padding-bottom: 40px;}
    .blogs .blogs-btn {padding: 5px 20px;}
    .footer .copy-right .conditions ul{display: block;}

    .loading img{
        width: 150px;
        filter: drop-shadow(2px 4px 6px black);
        animation: loading2 5s infinite ease-in-out;
    }
    @keyframes loading2 {
        0%{
            transform: scale(1);
            transform: rotate(0deg);
        }
        25%{
            transform: scale(1.5);
            width: 200px;
            transform: rotate(360deg);
        }
        50%{
            transform: scale(1);
            transform: rotate(0deg);
        }
    }
}