.road{background: #e9e9e9;padding: 7px 0;height: 40px;}
.road .active{color: #fb5875;font-weight: bold;}
.road svg{padding: 0 5px;}
.road p{font-size: 14px;}
.road a{all: unset;cursor: pointer;}

.blog{padding: 50px 0;}
h2{color: #00607e;font-size: 27px;}
.h1{color: #fb5875;}
.contact-btn a{
    margin: 0px 20px 0 0;
    font-size: 20px;
    font-weight: bold;
    border: transparent;
    background: linear-gradient(45deg,#fc904f,#fb5875);
}

/* =========== blog ============= */
.blog h1{padding: 0 0 30px;font-weight: bold;color: #fb5875;}
.blog .card{
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}
.blog .card p{padding: 0 10px;}
.blog .service{
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 10px;
}

.blog .hoverCard{
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background: #000000a8;
    top: 10px;
    opacity: 0;
    transform: perspective(400px) rotateX(-90deg);
    transform-origin: center top 0;
    transition: all .5s ease 0s;
}
.blog .hoverCard a{
    background-color: #fb5875;
    border-radius: 50%;
    padding: 10px 15px;
}
.blog .hoverCard svg{color: #fff;}
.blog .service:hover .hoverCard{opacity: 1;transform: perspective(100px) rotateX(0);}

/* ============ media ============ */
@media (max-width:991px) {
    .blog .card{margin-bottom: 20px;}
}